In [3]:
import pandas as pd
df = pd.DataFrame({'KOSPI': [1915, 1961, 2026, 2467, 2041],
                  'KOSDAQ': [542, 682, 631, 798, 675]},
     index = [2014,2015,2016,2017,2018]) #Put specific years
df

      KOSPI  KOSDAQ
2014   1915     542
2015   1961     682
2016   2026     631
2017   2467     798
2018   2041     675

In [4]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 2014 to 2018
Data columns (total 2 columns):
KOSPI     5 non-null int64
KOSDAQ    5 non-null int64
dtypes: int64(2)
memory usage: 120.0 bytes

In [5]:
kospi = pd.Series([1915, 1961, 2026, 2467, 2041],
        index = [2014,2015,2016,2017,2018], name= 'KOSPI')
kospi

2014    1915
2015    1961
2016    2026
2017    2467
2018    2041
Name: KOSPI, dtype: int64

In [6]:
kosdaq = pd.Series([542, 682, 631, 798, 675],
        index = [2014,2015,2016,2017,2018], name= 'KOSDAQ')
kosdaq

2014    542
2015    682
2016    631
2017    798
2018    675
Name: KOSDAQ, dtype: int64

In [7]:
df = pd.DataFrame({kospi.name: kospi, kosdaq.name: kosdaq})
df

      KOSPI  KOSDAQ
2014   1915     542
2015   1961     682
2016   2026     631
2017   2467     798
2018   2041     675

In [8]:
columns = ['KOSPI','KOSDAQ']
index = [2014,2015,2016,2017,2018]
rows = []
rows.append([1915, 542])
rows.append([1961, 682])
rows.append([2026, 631])
rows.append([2467, 798])
rows.append([2041, 675])
df = pd.DataFrame(rows, columns=columns, index=index)
df

      KOSPI  KOSDAQ
2014   1915     542
2015   1961     682
2016   2026     631
2017   2467     798
2018   2041     675

In [9]:
for i in df.index:
    print(i, df['KOSPI'][i], df['KOSDAQ'][i])

2014 1915 542
2015 1961 682
2016 2026 631
2017 2467 798
2018 2041 675

In [10]:
for row in df.itertuples(name='KRX'):
    print(row)

KRX(Index=2014, KOSPI=1915, KOSDAQ=542)
KRX(Index=2015, KOSPI=1961, KOSDAQ=682)
KRX(Index=2016, KOSPI=2026, KOSDAQ=631)
KRX(Index=2017, KOSPI=2467, KOSDAQ=798)
KRX(Index=2018, KOSPI=2041, KOSDAQ=675)

In [11]:
for row in df.itertuples():
    print(row[0], row[1], row[2])

2014 1915 542
2015 1961 682
2016 2026 631
2017 2467 798
2018 2041 675

In [12]:
for idx, row in df.iterrows():
    print(idx, row[0], row[1])

2014 1915 542
2015 1961 682
2016 2026 631
2017 2467 798
2018 2041 675